---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
      {% if page.cv_pdf %}
        <a href="{{ page.cv_pdf | relative_url }}" target="_blank" rel="noopener noreferrer" class="float-right">
          <i class="fa-solid fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {% for data in site.data.cv %}
        {% if site.data.cv %}
          <a class="anchor" id="{{ data.title }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ data.title }}</h3>
            <div>
              {% if data.type == 'list' %}
                {% include cv/list.liquid %}
              {% elsif data.type == 'map' %}
                {% include cv/map.liquid %}
              {% elsif data.type == 'nested_list' %}
                {% include cv/nested_list.liquid %}
              {% elsif data.type == 'time_table' %}
                {% include cv/time_table.liquid %}
              {% elsif data.type == 'list_groups' %}
                {% include cv/list_groups.liquid %}
              {% else %}
                {{ data.contents }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </article>
</div>
